// Libs
@import "~destyle.css/destyle.css";

// Base
@import "base/functions";
@import "base/mixins";
@import "base/fonts";
@import "base/root";
@import "base/reboot";

// Blocks
// ...

// Sections
@import "sections/header";
@import "sections/footer";

// Templates
// ...



body._lock {
    overflow: hidden;
}

h1 {
    font-family: 'Harabara';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #194484;
}

h2 {
    font-family: 'Harabara';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 39px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #194484;
}

h3 {
    font-family: 'Harabara';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0D6EB7;

    @media(max-width:778px) {
        font-size: 20px;
    }

}

h4 {
    font-family: 'Harabara';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0D6EB7;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #242424;
}

.bold {
    font-weight: 700;
}



.block__link {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 48px;
    height: 192px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 12px 1px rgba(29, 51, 107, 0.25);
    border-radius: 3px;
    right: 0;
    top: 423px;
    z-index: 1000;

    & img {
        border-bottom: 1px solid rgba(25, 68, 132, 0.1);
        padding: 10px;

    }

    @media only screen and (max-width:768px) {
        display: none;
    }
}

.main {
    margin: 43px 120px 0px 120px;

    @media(max-width: 1365px) {
        margin: 43px 80px 0px 80px;
    }

    @media(max-width: 1280px) {
        margin: 43px 60px 0px 60px;
    }

    @media(max-width: 992px) {
        margin: 43px 45px 0px 45px;
    }

    @media(max-width: 767px) {
        margin: 0px 30px 0px 30px;
    }
}

.slider__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: -29px;
    z-index: -1;


    @media(max-width:1200px) {
        margin-top: 30px;
    }

    @media(max-width:768px) {
        margin-top: 66px;
        margin-bottom: -9px;
    }

    & h1 {
        margin-bottom: 63px;

        @media(max-width:1200px) {
            margin: 0 auto;
        }

        @media(max-width: 768px) {
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.05em;
        }
    }

    & img {
        max-width: 100%;
        height: auto;
        margin-right: 95px;

        @media(max-width:1200px) {
            margin: 0 auto;
        }

        @media(max-width:768px) {
            margin: 11px 0px 0px 36px;
            width: 234px;
        }
    }
}

ul.breadcrumb li {
    display: inline;
    color: #194484;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    @media(max-width:768px) {
        font-size: 12px;

        &:first-child {
            display: none;
        }

        &:nth-child(2):before {
            display: none;
        }
    }

    &+li::before {
        padding: 0px 11px;
        content: url("../img/arrow_right.svg");

        @media(max-width:768px) {
            padding: 0px 7px;

            &:first-child {
                display: none;
            }
        }
    }
}

.block_txt {
    display: flex;
    justify-content: space-between;

    & article:first-child {
        //padding-right: 30px;
    }

    & article:last-child {
        //padding-left: 30px;
        margin-right: 119px;

        @media(max-width:768px) {
            margin-right: 0;
            margin-top: 37px;
        }
    }

    @media(max-width:992px) {
        flex-wrap: wrap;

        & article:first-child {
            padding-right: 0;
        }

        & article:last-child {
            padding-left: 0;
        }
    }


    & article {
        width: 550px;
        margin-bottom: 16px;


        & h3 {

            @media only screen and (max-width:992px) {
                text-align: center;
            }

        }


        & p {
            margin-top: 16px;

            @media(max-width:768px) {
                margin-top: 13px;
                margin-left: 2px;
            }

        }

        & p:last-child {
            margin-top: 30px;
        }
    }
}

.reviews {
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: 16px;
    width: 900px;
    padding: 35px;
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 189px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media only screen and (max-width: 1280px) {
        width: 745px;
    }

    @media only screen and (max-width:992px) {
        flex-direction: column;
        width: 100%;
        margin-bottom: 81px;

        & .rating {
            padding: 5px 35px 20px 35px;
        }
    }

    @media only screen and (max-width:768px) {
        padding: 35px 0px 53px 0px;
        height: 294px;
        margin-top: 103px;

        & .rating {
            padding: 5px 10px 20px 0px;
        }
    }

    .rating {
        display: flex;

        font-size: 40px;
        line-height: 0.75;



        .rating__value {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 38px;
            color: #242424;
            padding-right: 10px;
        }

        & span {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            padding-left: 10px;
            align-self: center;

            @media(max-width:768px) {
                letter-spacing: 0.5px;
            }
        }


        .rating__body {
            position: relative;

            &::before {
                content: "★★★★★";
                display: block;
                color: #E1E1E1;

            }

            .rating__active {
                display: flex;
                position: absolute;
                width: 0%;
                height: 100%;
                top: 0;
                left: 0;
                overflow: hidden;

                &::before {
                    content: "★★★★★";
                    display: flex;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    color: #06B25F;

                }
            }

            .rating__items {
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                .rating_item {
                    flex: 0 0 20%;
                    height: 100%;
                    opacity: 0;
                }
            }
        }
    }

    &>button {
        padding: 0px 17px;
    }
}

.btn_green_sec {
    padding: 4px 14px;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    border: 2px solid #06B25F;
    border-radius: 6px;
    color: #06B25F;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-transform: uppercase;
    transition-duration: 500ms;

    &:hover {
        background-color: #06B25F;
        color: #FFFFFF;
        border: 2px solid #06B25F;
    }

    &:focus {
        background-color: #0b9854;
        color: #FFFFFF;
        border: 2px solid #0b9854;
    }
}

.btn_green_pr {
    padding: 4px 14px;
    align-items: center;
    text-align: center;
    background: #06b25f;
    border: 2px solid #06B25F;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-transform: uppercase;
    transition-duration: 500ms;

    &:hover {
        background-color: #0b9854;
        color: #FFFFFF;
        border: 2px solid #0b9854;
    }

    &:focus {
        background-color: #0f874d;
        color: #FFFFFF;
        border: 2px solid #0f874d;
    }
}

.services {

    h3 {
        font-size: 36px;
        line-height: 39px;
        letter-spacing: 0.1em;
        color: #194484;
        text-align: center;

        @media(max-width:768px) {
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 0.05em;
        }
    }

    .services__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px -12px;

        @media(max-width:772px) {
            align-items: center;
        }

        .services__card {
            background: #F4F8FD;
            box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
            border-radius: 16px;
            width: 315px;
            height: 320px;
            margin: 60px 12px 0 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            transition-duration: 500ms;
            padding: 77px 0px 23px 0px;

            @media(max-width:772px) {
                width: 145px;
                height: 162px;
                margin-top: 39px;
                padding: 35px 3px 54px 3px;

                & img {
                    height: 100%;
                    padding-bottom: 19px;


                }

                &:nth-child(3) img {
                    padding-bottom: 30px;
                }

                & h4 {
                    font-size: 12px;
                    line-height: 22px;

                }
            }

            &:hover {
                background: #FFFFFF;
                box-shadow: 0px 3px 20px 6px rgba(29, 51, 107, 0.15);
            }

        }
    }
}

.rectangle_img {
    position: relative;
    background: url("../img/Mask_Group.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 257px;
    margin-bottom: 131px;
    width: 100%;
    height: 635px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 200px 23px 231px 100px;

    @media(max-width: 768px) {
        background: url("../img/Mask_Group_mini.png") no-repeat;
        background-size: 100% 100%;
        margin-top: 66px;
        padding: 128px 31px 184px 27px;
        height: 511px;
        text-align: center;
        margin-bottom: 5px;

        & h1 {
            font-size: 24px;
            line-height: 38px;
        }



    }

    & button {
        width: 160px;
        height: 42px;
    }

    & h1 {
        color: #FFFFFF;
    }

    & p {
        font-family: Montserrat;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0em;
        color: #FFFFFF;
        padding-bottom: 18px;

        @media(max-width:768px) {
            font-size: 16px;
            line-height: 20px;
        }
    }


}

.contact {
    margin-top: 152px;
    text-align: center;

    &>p {
        margin-top: 18px;
    }

    @media(max-width:768px) {
        margin-top: 130px;

        & h2 {
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 0.05em;
        }


        &>p {
            margin-top: 35px;
        }
    }

    .contact_txt {
        margin-top: 58px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        @media(max-width:768px) {
            font-size: 18px;
            line-height: 28px;
            margin-top: 13px;
        }
    }

    .contact__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width:768px) {
            margin: 0;
        }

        .contact_block {
            width: 500px;
            margin: 103px 0px 0px 109px;

            @media(max-width:1385px) {
                margin: 10px auto 0px auto;
                width: auto;

            }

            @media(max-width:768px) {
                margin: 10px 0px 0px 0px;
                width: auto;

            }

            .contact_list {


                .contact_item {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 38px;
                    text-transform: capitalize;
                    color: #242424;
                    margin-bottom: 16px;
                    text-align: left;
                    padding-left: 15px;
                    margin-left: 30px;

                    @media(max-width:768px) {
                        margin-left: 28px;
                        padding-left: 13px;
                        line-height: 30px;
                        margin-bottom: 16px;
                    }

                    &:first-child {
                        list-style-image: url("../img/geo_list.svg");

                        @media(max-width:768px) {
                            padding-top: 20px;
                        }
                    }

                    &:nth-child(2) {
                        list-style-image: url("../img/phone_list.svg");

                        @media(max-width:768px) {
                            padding-bottom: 6px;
                        }
                    }

                    &:nth-child(3) {
                        list-style-image: url("../img/whatsapp_list.svg");

                        @media(max-width:768px) {
                            padding-bottom: 8px;
                        }
                    }

                    &:nth-child(4) {
                        list-style-image: url("../img/skype_list.svg");

                        @media(max-width:768px) {
                            padding-bottom: 9px;
                        }
                    }

                    &:nth-child(5) {
                        list-style-image: url("../img/mail_list.svg");
                        text-transform: lowercase;

                        @media(max-width:768px) {
                            padding-bottom: 8px;
                        }
                    }

                    &:nth-child(6) {
                        list-style-image: url("../img/facebook_list.svg");
                    }
                }

            }
        }

        .form_block {

            width: 600px;
            height: 500px;
            position: relative;
            margin: 0px 42px 0px 0px;

            @media(max-width: 768px) {

                position: static;
            }

            @media(max-width: 1385px) {
                margin: 0 auto;
            }

            .form_img_message {
                position: absolute;
                top: 53px;
                left: -8px;

                @media(max-width: 992px) {
                    display: none;
                }
            }

            .form_img_phone {
                position: absolute;
                top: 50px;
                left: 469px;

                @media(max-width: 992px) {
                    display: none;
                }
            }

            .form_img_mail {
                position: absolute;
                top: 362px;
                left: -31px;

                @media(max-width: 992px) {
                    display: none;
                }
            }

            form {
                position: relative;
                background: #FFFFFF;
                box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
                border-radius: 6px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 420px;
                height: 403px;
                padding: 50px 40px 70px 40px;
                text-align: left;
                margin: 0 auto;
                margin-top: 100px;

                @media(max-width: 992px) {
                    width: 500px;
                }

                @media(max-width: 768px) {
                    position: static;
                    margin-top: 50px;
                    padding: 40px 20px;
                    height: 360px;
                    width: 319px;
                }

                input {
                    border: 1px solid #D7D7D7;
                    border-radius: 4px;
                    height: 40px;
                    padding: 10px;
                }

                textarea {
                    height: 80px;
                    border: 1px solid #D7D7D7;
                    border-radius: 4px;
                    padding: 10px;
                    resize: none;
                }

                & button {
                    font-size: 18px;
                    line-height: 22px;
                    height: 50px;
                }
            }
        }
    }
}

.project_block {

    background: url("../img/Vector_8.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 186px;
    width: 100%;
    height: 1110px;
    padding: 153px 24px 263px 24px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    overflow: hidden;

    @media(max-width:992px) {
        background: url("../img/project_slider_mini.png") no-repeat;
        background-size: 100% 100%;
        height: 1800px;
        padding: 100px 30px 80px 30px;
        margin-top: 100px;
    }

    @media(max-width:768px) {
        background: url("../img/project_slider_mini.png") no-repeat;
        background-size: 100% 100%;
        height: 1704px;
        padding: 132px 30px 80px 30px;
        margin-top: 60px;
    }



    & h2 {
        text-align: center;

        @media(max-width:768px) {
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 0.05em;
        }
    }

    .project_slider {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        @media(max-width:992px) {
            flex-wrap: wrap;
            flex-direction: column;
        }

        &>img {
            @media(max-width:992px) {
                display: none;
            }
        }

        .project_slide {
            background: #FFFFFF;
            box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
            border-radius: 16px;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 400px;


            margin-right: 15px;
            margin-left: 15px;

            @media(max-width:992px) {
                margin: 0 auto;
                margin-bottom: 50px;

            }

            @media(max-width:480px) {
                margin: 0 auto;
                margin-bottom: 50px;
                width: 100%;
            }

            .slide_txt {
                padding: 16px;

                & p {
                    margin-top: 5px;
                }

                @media(max-width:768px) {
                    padding: 20px 16px 16px 12px;

                    & h3 {
                        font-size: 18px;
                        line-height: 38px;

                        letter-spacing: 0.05em;
                    }

                }
            }

            & img {
                border-radius: 16px 16px 0 0;
                width: 100%;
            }


        }

        &+.project_slide:first-child:after {
            padding: 8px;
            content: url("../img/arrow_right.svg");



        }

        &>img {
            cursor: pointer;
            height: 47px;
            align-self: center;
        }

        &>img:first-child {
            position: relative;
            left: 20px;

            @media(max-width:1500px) {
                left: 0;
            }
        }

        &>img:last-child {
            position: relative;
            right: 22px;

            @media(max-width:1500px) {
                right: 0;
            }
        }
    }
}

.main_second {
    margin: 0 276px;

    @media(max-width:1380px) {
        margin: 0 250px;
    }

    @media(max-width:1280px) {
        margin: 0 54px;
    }

    @media(max-width:992px) {
        margin: 0 50px;
    }

    @media(max-width:768px) {
        margin: 0;
    }
}

.faq {
    margin: 111px 0px 0px 0px;

    & h2 {
        text-align: center;

        @media(max-width:768px) {
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 0.1em;
        }
    }

    .faq__content {
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &::before {
            content: url("../img/bracket_left.png");
        }

        &::after {
            content: url("../img/bracket_right.png");
            margin-left: 86px;
        }

        @media(max-width: 992px) {
            &::before {
                content: url("../img/bracket_left_mini.png");
            }

            &::after {
                content: url("../img/bracket_right_mini.png");
            }
        }

        @media(max-width: 768px) {
            margin-top: 39px;

            &::after {
                margin-left: 0;
            }
        }


    }

    @media(max-width:768px) {
        margin: 60px 10px 10px 10px;
    }

    ul {
        list-style-position: outside;


        & li {
            list-style-position: outside;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #0D6EB7;
            margin-bottom: 26px;

            @media(max-width:768px) {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 30px;
                margin-left: 7px;
            }

            &::before {
                content: "";
                background-color: #0D6EB7;
                display: inline-block;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                margin-right: 5px;


            }


            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .tabs {
        overflow: hidden;
        margin-top: 44px;
        padding: 0 60px;

        @media(max-width: 768px) {
            padding: 0;

            & .tab:nth-child(2) .tab-label {
                padding: 15px 29px 0px 29px;
            }

            & .tab:nth-child(3) .tab-label {
                padding: 19px 22px 0px 29px;
                margin-bottom: -12px;
            }

            & .tab:nth-child(4) .tab-label {
                padding: 21px 22px 0px 29px;
            }

            & .tab:nth-child(5) .tab-label {
                padding: 21px 22px 0px 29px;
            }
        }
    }

    .tab {
        width: 100%;
        color: #242424;
        overflow: hidden;
        border-bottom: 1px solid rgba(13, 110, 183, 0.5);
        margin: 6px 0px 0px 0px;
        padding-bottom: 1px;


        &-label {
            display: flex;
            background: #FFFFFF;
            cursor: pointer;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            padding: 20px 21px 0px 21px;
            text-transform: capitalize;

            @media(max-width: 768px) {
                font-size: 18px;
                line-height: 28px;
                padding: 27px 29px 0px 29px;

            }

            &::before {
                content: "\276F";
                height: 2em;
                margin-right: 20px;
                text-align: center;
                transition: all .35s;
            }
        }

        &-content {
            max-height: 0;
            margin: 0px 0px 0px 50px;
            transition: all .35s;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 1.1px;

            @media(max-width: 768px) {
                margin: 13px 0px 0px 61px;
                padding-right: 11px;
            }
        }

    }

    input:checked {
        +.tab-label {

            &::before {
                transform: rotate(-90deg);
            }
        }

        ~.tab-content {
            max-height: 100vh;
            margin: 3px 0px 0px 52px;
            padding-bottom: 10px;

            @media(max-width: 768px) {
                margin: 13px 0px 0px 61px;
                padding-right: 11px;

            }
        }
    }
}